.main {
    height: 128px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    justify-content: center;
    background-color: white;
  }
  
  .nav_wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 70px;
  }
  
  .nav {
    display: flex;
    gap: 32px;
  }
  
  .basket_wrapper {
    position: relative;
  }
  
  .icon {
    width: 48px;
    position: relative;
  }
  
  .items_number {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #339933;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  a {
    text-decoration: none;
    color: #282828;
    font-size: 20px;
    font-weight: 500;
  }
  