.wrapper {
    display: flex;
    gap: 32px;
    height: 180px;
    border: 1px solid #DDD;
    border-radius: 12px;
    position: relative;
    margin-bottom: 15px;
    max-width: 1440px;
  }
  
  .image_wrapper {
    width: 200px;
    padding: 10px;
    border-right: 1px solid #DDD;
  }
  
  .product_image {
    width: 100%;
    min-width: 180px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .product_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
  }
  
  .product_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: var(--txt-black, #282828);
    text-overflow: ellipsis;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    max-width: calc(100% - 40px);
    margin-top: 25px;
  }
  
  .product_price_info, .product_price_section,  .product_card_price_field{
    display: flex;
    align-items: center; 
    gap: 16px;
  }
  
  .product_card_price_field_price {
    font-size: 40px;
    font-weight: 600;
    color: #282828;
    margin-right: 20px; 
  }
  
  .product_card_price_field_initial_price {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: line-through;
    color: #8B8B8B;
    margin-right: 20px; 
  }
  
  .close_button {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    width: 20px;
  }
  