.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 80px 40px 0 40px;
  }
  
  .product_cards_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 40px;
  }
  
  .header_text {
    font-size: 64px;
    font-weight: 700;
    padding: 0 40px 0 0;
    vertical-align: middle;
    margin: 0; 
  }
  
  .header_navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }
