.wrapper {
    width: 100%;
    max-width: 908px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  
  .price_form {
    display: flex;
    gap: 15px;
    align-items: center; 
  }
  
  .labelContainer {
    display: flex;
    gap: 12px;
    color: #282828;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    align-items: center;
  }
  
  .price_input {
    font-size: 16px;
    padding: 8px 16px;
    width: 112px;
    border-radius: 6px;
    border: 1px solid #DDD;
  }
  
  .check_box {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid var(--grey-divider, #DDD);
  }
  
  .check_box:checked {
    border-radius: 30px;
    border: 1px solid #DDD;
    background-color: antiquewhite;
  }
  
  .select_filter {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid var(--grey-divider, #DDD);
  }
  